* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background: white;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 12px;
  font-weight: normal;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

ul,
li {
  list-style: none;
  margin-bottom: 0 !important;
}

.App {
  position: relative;
}

.App #backToTop {
  position: fixed;
  background-color: #404040;
  padding: 0;
  width: 50px;
  min-width: unset;
  height: 50px;
  bottom: 50px;
  right: 10px;
  border-radius: 5px;
}

.App #backToTop .icon {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 1024px) {
  .App #backToTop {
    display: none !important;
  }
}

.sk-cube-grid {
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fa5238;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #00000093;
  color: white;
  padding: 10px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .header-container {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-container .header-menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}

.header .header-container .header-menu .menu-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .header-container .header-menu .menu-list .list-item:hover {
  color: #ffd22d;
}

.header .header-container .header-menu .menu-list .list-item .item-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.header .header-container .header-menu .menu-list .item-user {
  padding: 10px 15px;
  background-color: #b89000;
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .header-container .header-menu .menu-list .item-user:hover {
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header .header-container .header-menu-mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: unset;
    background-color: #000 !important;
  }
  .header .header-container .header-logo {
    width: 35%;
  }
  .header .header-container .header-logo img {
    width: 100%;
  }
  .header .header-container .header-menu {
    display: none;
  }
  .header .header-container .header-menu-mobile {
    display: block;
  }
  .header .header-container .header-menu-mobile .menu-icon {
    font-size: 30px;
  }
  .header .header-container .header-menu-mobile .menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.541);
    display: none;
    -webkit-animation: fadein linear 0.3s;
            animation: fadein linear 0.3s;
  }
  .header .header-container .header-menu-mobile .nav__mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 70%;
    max-width: 100%;
    background-color: white;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    padding: 20px;
  }
  .header .header-container .header-menu-mobile .nav__mobile .menu-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header-container .header-menu-mobile .nav__mobile .menu-login .login-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-container .header-menu-mobile .nav__mobile .menu-login .login-left .user-logo {
    margin-right: 10px;
  }
  .header .header-container .header-menu-mobile .nav__mobile .menu-login .login-left .user-name {
    color: red;
  }
  .header .header-container .header-menu-mobile .nav__mobile .menu-login .login-left .login-icon {
    color: #bfbfbf;
    font-size: 36px;
    margin-right: 10px;
  }
  .header .header-container .header-menu-mobile .nav__mobile .menu-login .login-left .login-user {
    font-size: 25px;
    color: black;
  }
  .header .header-container .header-menu-mobile .nav__mobile .menu-login .login-arrow {
    color: #bfbfbf;
    font-size: 25px;
  }
  .header .header-container .header-menu-mobile .nav__mobile .menu-list {
    margin-top: 20px;
    padding: 0;
  }
  .header .header-container .header-menu-mobile .nav__mobile .menu-list .menu-item {
    padding: 10px 0;
    font-size: 22px;
  }
  .header .header-container .header-menu-mobile .nav__mobile .menu-list .menu-item .nav__mobile-link {
    color: black;
  }
  .header .header-container .header-menu-mobile .nav__mobile .menu-logout {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .header .header-container .header-menu-mobile .nav__input:checked ~ .menu-overlay {
    display: block;
    z-index: 9;
  }
  .header .header-container .header-menu-mobile .nav__input:checked ~ .nav__mobile {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.footer {
  background-color: #2d2d2d;
  padding: 20px 0;
}

.footer .footer-container {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-container .footer-left {
  width: 25%;
}

.footer .footer-container .footer-left .left-title {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.footer .footer-container .footer-left .left-detail {
  font-size: 15px;
  color: #fff;
  margin: 20px 0;
}

.footer .footer-container .footer-left .left-form {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-container .footer-left .left-form input {
  width: 60%;
  color: #4d4d4d;
  background: #efefef;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  outline: none;
}

.footer .footer-container .footer-left .left-form button {
  padding: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 35%;
  background-color: #b89000;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  font-size: 12px;
}

.footer .footer-container .footer-left .left-form button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer .footer-container .footer-left .left-address .address-item {
  margin: 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .footer-container .footer-left .left-address .address-item p {
  font-size: 15px;
  color: #fff;
  margin: 0;
}

.footer .footer-container .footer-center {
  padding: 0 20px;
  width: 45%;
}

.footer .footer-container .footer-center .center-title {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.footer .footer-container .footer-center .center-address {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.footer .footer-container .footer-center .center-address .center-item {
  margin-bottom: 10px;
}

.footer .footer-container .footer-center .center-address .center-item h3 {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  color: #fff;
  word-break: break-word;
  margin-bottom: 12px;
}

.footer .footer-container .footer-center .center-address .center-item p {
  font-size: 13px;
  line-height: 21px;
  color: #999999;
  word-break: break-word;
}

.footer .footer-container .footer-right {
  width: 30%;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 50px 20px;
  }
  .footer .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer-container .footer-left {
    width: 35%;
  }
  .footer .footer-container .footer-center {
    width: 65%;
  }
  .footer .footer-container .footer-right {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 20px;
  }
  .footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-container .footer-left,
  .footer .footer-container .footer-center {
    width: 100%;
  }
  .footer .footer-container .footer-center {
    padding: 0;
  }
  .footer .footer-container .footer-center .center-item {
    padding: 0 10px;
  }
}

.carousel {
  height: 750px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .carousel-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.carousel .carousel-body {
  position: relative;
  width: 1200px;
  margin: auto;
}

.carousel .carousel-body .carousel-content {
  width: 50%;
  float: right;
}

.carousel .carousel-body .carousel-content h1 {
  color: #fdd22d;
  font-size: 60px;
}

.carousel .carousel-body .carousel-content p {
  margin: 30px 0 50px;
  color: #fff;
  font-size: 22px;
}

.carousel .carousel-body .carousel-content a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #b89000;
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 20px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
}

.carousel .carousel-body .carousel-content a:hover {
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 1024px) {
  .carousel {
    height: 600px;
  }
  .carousel .carousel-body {
    width: 100%;
    padding: 50px;
  }
  .carousel .carousel-body .carousel-content h1 {
    font-size: 40px;
  }
  .carousel .carousel-body .carousel-content p {
    font-size: 18px;
  }
  .carousel .carousel-body .carousel-content a {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .carousel {
    height: auto;
    background-position: center;
  }
  .carousel .carousel-body {
    width: 100%;
    padding: 70px 20px;
  }
  .carousel .carousel-body .carousel-content {
    width: 100%;
  }
  .carousel .carousel-body .carousel-content h1 {
    font-size: 30px;
  }
  .carousel .carousel-body .carousel-content p {
    font-size: 18px;
  }
  .carousel .carousel-body .carousel-content a {
    font-size: 15px;
  }
}

.category {
  width: 1200px;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}

.category .title {
  text-transform: uppercase;
  margin-top: 50px;
  font-size: 35px;
}

.category .title::before {
  display: inline-block;
  margin: 0 20px 8px 0;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: black;
  width: 140px;
}

.category .title::after {
  display: inline-block;
  margin: 0 0 8px 20px;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: black;
  width: 140px;
}

.category .slick-list {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category .category-item {
  cursor: pointer;
  position: relative;
  margin: 0 10px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.category .category-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.category .category-item:hover .item-overlay {
  background-color: rgba(0, 0, 0, 0.45);
}

.category .category-item .item-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.767);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.category .category-item .item-title {
  text-shadow: 3px 3px 20px #b89000bb, -2px 1px 30px #b89000bb;
  text-transform: uppercase;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  white-space: nowrap;
}

.category .more {
  border: 1px solid #b89000;
  padding: 10px;
  border-radius: 5px;
  color: #b89000;
  font-size: 17px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.category .more:hover {
  color: white;
  background-color: #b89000;
  border: none;
}

@media screen and (max-width: 1024px) {
  .category {
    padding: 0 20px 50px;
    width: 100%;
  }
  .category .slick-prev,
  .category .slick-next {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .category {
    padding: 0 20px 30px;
  }
  .category .title {
    margin-top: 30px;
    font-size: 25px;
  }
  .category .title::before, .category .title::after {
    display: none;
  }
  .category .slick-list {
    height: auto;
    margin: 20px 0;
  }
  .category .category-item .item-title {
    white-space: unset;
  }
}

.about {
  padding: 50px 0;
}

.about .about-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.about .about-container .about-title {
  text-transform: uppercase;
  font-size: 35px;
}

.about .about-container .about-title::before {
  display: inline-block;
  margin: 0 20px 8px 0;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: black;
  width: 140px;
}

.about .about-container .about-title::after {
  display: inline-block;
  margin: 0 0 8px 20px;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: black;
  width: 140px;
}

.about .about-container .about-detail {
  width: 50%;
  line-height: 25px;
  color: gray;
  font-size: 17px;
  margin: 20px auto 50px;
}

.about .about-container .about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-container .about-card .card-item {
  width: calc(100% / 3);
  padding: 0 10px;
}

.about .about-container .about-card .card-item .item-icon {
  width: 60px;
  height: 60px;
  color: orangered;
}

.about .about-container .about-card .card-item .item-title {
  margin: 15px 0;
  font-size: 22px;
}

.about .about-container .about-card .card-item .item-detail {
  margin: 0;
  line-height: 25px;
  color: gray;
  font-size: 15px;
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 50px 20px;
  }
  .about .about-container .about-detail {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 30px 20px 10px;
  }
  .about .about-container .about-title {
    font-size: 25px;
  }
  .about .about-container .about-title::before, .about .about-container .about-title::after {
    display: none;
  }
  .about .about-container .about-detail {
    margin: 20px auto;
    width: 100%;
  }
  .about .about-container .about-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-container .about-card .card-item {
    padding: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}

.count {
  background-color: #e5e5e5;
  padding: 50px 0;
}

.count .count-background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.count .count-container {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.count .count-container .count-item {
  width: 25%;
  text-align: center;
}

.count .count-container .count-item .count-number {
  font-size: 45px;
  line-height: 50px;
  font-weight: 900;
  color: #cda02e;
}

.count .count-container .count-item .count-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .count {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 768px) {
  .count {
    padding: 30px 20px 10px;
  }
  .count .count-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .count .count-container .count-item {
    margin-bottom: 20px;
    width: 100%;
  }
}

.review {
  padding-bottom: 50px;
}

.review .review-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.review .review-container .review-title {
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
}

.review .review-container .review-title::before {
  display: inline-block;
  margin: 0 20px 8px 0;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: black;
  width: 140px;
}

.review .review-container .review-title::after {
  display: inline-block;
  margin: 0 0 8px 20px;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: black;
  width: 140px;
}

.review .review-container .slick-slider {
  margin-bottom: 45px;
}

.review .review-container .slick-slider .review-item {
  margin: 50px 0 20px;
  padding: 30px 0;
  background-color: #e5e5e5;
  border-radius: 20px;
}

.review .review-container .slick-slider .review-item .item-content {
  width: 50%;
  margin: 0 auto 20px;
  font-weight: bold;
  font-size: 20px;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.review .review-container .slick-slider .review-item .item-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review .review-container .slick-slider .review-item .item-user .user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.review .review-container .slick-slider .review-item .item-user .user-avatar img {
  height: 100%;
  width: 100%;
}

.review .review-container .slick-slider .review-item .item-user .user-avatar img {
  width: 100%;
}

.review .review-container .slick-slider .review-item .item-user .user-name {
  margin-left: 15px;
  font-size: 20px;
  color: black;
}

.review .review-container .slick-dots li button::before {
  font-size: 15px;
}

@media screen and (max-width: 1024px) {
  .review {
    padding: 0 50px 20px;
  }
  .review iframe {
    width: 100%;
  }
  .review .slick-prev,
  .review .slick-next {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .review {
    padding: 30px 20px;
  }
  .review iframe {
    height: 200px;
  }
  .review .review-container .review-title {
    font-size: 25px;
  }
  .review .review-container .review-title::before, .review .review-container .review-title::after {
    display: none;
  }
  .review .review-container .slick-slider .review-item {
    margin: 20px 0;
  }
}

.courseList .courseList-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courseList .courseList-banner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.courseList .courseList-banner .banner-content {
  z-index: 9;
}

.courseList .courseList-banner .banner-content .content-title {
  font-size: 50px;
  text-transform: uppercase;
  color: white;
}

.courseList .courseList-container {
  width: 1200px;
  margin: auto;
  padding: 50px 0;
}

.courseList .courseList-container .courseList-searchSort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courseList .courseList-container .courseList-searchSort .courseList-search {
  width: 75%;
}

.courseList .courseList-container .courseList-searchSort .courseList-sort {
  width: 20%;
}

.courseList .courseList-container .courseList-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.courseList .courseList-container .courseList-body .body-products {
  width: 75%;
}

.courseList .courseList-container .courseList-body .body-products .styles_kPaginationListItemVertical__q-2s5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.courseList .courseList-container .courseList-body .body-products .styles_kPaginationListItemVertical__q-2s5 a {
  color: black !important;
}

.courseList .courseList-container .courseList-body .body-products .styles_kPaginationListPage__2_6Ph a {
  color: black !important;
}

.courseList .courseList-container .courseList-body .body-products .products-item {
  cursor: pointer;
  color: black;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.courseList .courseList-container .courseList-body .body-products .products-item:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.courseList .courseList-container .courseList-body .body-products .products-item:hover .item-detail .detail-info .info-bottom .info-name,
.courseList .courseList-container .courseList-body .body-products .products-item:hover .item-detail .detail-info .info-bottom .info-views,
.courseList .courseList-container .courseList-body .body-products .products-item:hover .item-detail .detail-info .info-bottom .info-price {
  display: none;
}

.courseList .courseList-container .courseList-body .body-products .products-item:hover .item-detail .detail-info .info-bottom .bottom-action {
  bottom: 0;
  opacity: 1;
}

.courseList .courseList-container .courseList-body .body-products .products-item .item-img {
  width: 100%;
  height: 150px;
}

.courseList .courseList-container .courseList-body .body-products .products-item .item-detail {
  padding: 10px;
  height: calc(100% - 150px);
}

.courseList .courseList-container .courseList-body .body-products .products-item .item-detail .detail-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.courseList .courseList-container .courseList-body .body-products .products-item .item-detail .detail-info h3 {
  height: 46px;
  font-size: 20px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box !important;
}

.courseList .courseList-container .courseList-body .body-products .products-item .item-detail .detail-info .info-bottom {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.courseList .courseList-container .courseList-body .body-products .products-item .item-detail .detail-info .info-bottom p {
  margin: 10px 0 5px;
  font-size: 15px;
}

.courseList .courseList-container .courseList-body .body-products .products-item .item-detail .detail-info .info-bottom span {
  color: gray;
}

.courseList .courseList-container .courseList-body .body-products .products-item .item-detail .detail-info .info-bottom .bottom-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  bottom: -100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.courseList .courseList-container .courseList-body .body-products .products-item .item-detail .detail-info .info-bottom .bottom-action .btn-action {
  bottom: 0;
  left: 0;
  margin: 10px 0;
}

.courseList .courseList-container .courseList-body .body-catalog {
  width: 20%;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}

.courseList .courseList-container .courseList-body .body-catalog .catalog-title {
  position: relative;
  text-align: center;
  font-size: 25px;
  color: black;
  margin: 10px;
}

.courseList .courseList-container .courseList-body .body-catalog .catalog-title .catalog-down {
  display: none;
  font-size: 15px;
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.courseList .courseList-container .courseList-body .body-catalog .catalog-list .catalog-item {
  cursor: pointer;
  padding: 10px;
  font-size: 17px;
}

.courseList .courseList-container .courseList-body .body-catalog .catalog-list .catalog-item:hover {
  background-color: #c4c4c4;
}

.courseList .courseList-container .courseList-body .body-catalog .catalog-list .active {
  color: white;
  font-weight: bold;
  background-color: #b89000;
}

.courseList .courseList-container .courseList-body .body-catalog .catalog-list .active:hover {
  background-color: #b89000;
}

@media screen and (max-width: 1024px) {
  .courseList .courseList-banner .banner-content {
    padding: 20px;
  }
  .courseList .courseList-container {
    padding: 50px 20px;
    width: 100%;
  }
  .courseList .courseList-container .courseList-searchSort .courseList-sort {
    width: 23%;
  }
  .courseList .courseList-container .courseList-body .body-catalog {
    width: 23%;
  }
}

@media screen and (max-width: 786px) {
  .courseList .courseList-banner {
    height: auto;
  }
  .courseList .courseList-banner .banner-content {
    padding: 100px 20px;
  }
  .courseList .courseList-banner .banner-content .content-title {
    text-align: center;
    font: 30px sans-serif;
  }
  .courseList .courseList-container {
    padding: 30px 20px;
  }
  .courseList .courseList-container .courseList-searchSort {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .courseList .courseList-container .courseList-searchSort .courseList-search {
    width: 100%;
  }
  .courseList .courseList-container .courseList-searchSort .courseList-sort {
    display: none;
  }
  .courseList .courseList-container .courseList-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .courseList .courseList-container .courseList-body .body-catalog {
    width: 100%;
  }
  .courseList .courseList-container .courseList-body .body-catalog .catalog-title {
    font-size: 20px;
  }
  .courseList .courseList-container .courseList-body .body-catalog .catalog-title .catalog-down {
    display: block;
  }
  .courseList .courseList-container .courseList-body .body-catalog .catalog-list {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .courseList .courseList-container .courseList-body .body-products {
    margin-top: 10px;
    width: 100%;
  }
  .courseList .courseList-container .courseList-body .body-products .styles_kPaginationListItemVertical__q-2s5 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .courseList .courseList-container .courseList-body .body-products .products-item:hover .item-detail .detail-info .info-bottom .info-name,
  .courseList .courseList-container .courseList-body .body-products .products-item:hover .item-detail .detail-info .info-bottom .info-views,
  .courseList .courseList-container .courseList-body .body-products .products-item:hover .item-detail .detail-info .info-bottom .info-price {
    display: unset;
  }
  .courseList .courseList-container .courseList-body .body-products .products-item .item-detail .detail-info .info-bottom .bottom-action {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .courseList .courseList-container .courseList-body .body-products .styles_kPaginationListItemVertical__q-2s5 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.courseDetail .courseDetail-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courseDetail .courseDetail-banner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.courseDetail .courseDetail-banner .banner-content {
  z-index: 9;
}

.courseDetail .courseDetail-banner .banner-content .content-title {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #daff0b), color-stop(50%, #0f8ac4), color-stop(60%, #57d75b));
  background: linear-gradient(to right, #daff0b 10%, #0f8ac4 50%, #57d75b 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 3s linear infinite;
          animation: textclip 3s linear infinite;
  display: inline-block;
}

.courseDetail .courseDetail-body {
  margin: 30px auto;
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courseDetail .courseDetail-body .body-left {
  padding: 20px;
  width: 70%;
}

.courseDetail .courseDetail-body .body-left .left-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.courseDetail .courseDetail-body .body-left .left-detail .detail-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.courseDetail .courseDetail-body .body-left .left-detail .detail-avatar img {
  width: 100%;
}

.courseDetail .courseDetail-body .body-left .left-detail .detail-teacher,
.courseDetail .courseDetail-body .body-left .left-detail .detail-catalog {
  font-size: 17px;
  text-align: center;
}

.courseDetail .courseDetail-body .body-left .left-detail .detail-teacher p,
.courseDetail .courseDetail-body .body-left .left-detail .detail-catalog p {
  font-size: 12px;
}

.courseDetail .courseDetail-body .body-left .left-detail .detail-add {
  font-size: 12px;
  font-weight: bold;
}

.courseDetail .courseDetail-body .body-left .left-thumnail {
  max-height: 300px;
  overflow: hidden;
  -webkit-box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
          box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}

.courseDetail .courseDetail-body .body-left .left-thumnail img {
  width: 100%;
}

.courseDetail .courseDetail-body .body-right {
  border: 2px dashed;
  padding: 20px;
  width: 30%;
  text-align: center;
}

.courseDetail .courseDetail-body .body-right .body-title {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 15px;
}

.courseDetail .courseDetail-body .body-right .right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  padding: 20px 0;
}

.courseDetail .courseDetail-body .body-right .right-item .item-icon {
  font-size: 22px;
  color: #0084ff;
}

.courseDetail .courseDetail-body .body-right .right-item .item-title {
  white-space: nowrap;
  margin: 0 5px;
}

.courseDetail .courseDetail-body .body-right .right-item .item-name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/*# sourceMappingURL=main.css.map */